body {
    background-color: grey;
}

header {
    border: ridge 2px black;
    background-color: lavender;
    text-align: center;
    font-family: block;
    border-radius: 5px;
    width: 700px;
    margin: auto;

}
h1 * {
    text-align: center;
}

main {
    border: ridge 2px black;
    padding-right: 100px;
    padding-left: 100px;
    background-color: lavender;
    font-family: block;
    border-radius: 5px;
    width: 700px;
    margin: auto;
    margin-top: 45px;
    font-size: 12px;

}

h1 {
    font-size: 70px;
    padding: 1px;
    text-align: center;
}

aside {
    background-color: white;
    border: ridge 2px rebeccapurple;
    width: 150px;
    padding: 20px;
    float: right
}
footer {
    background-color: lavender;
    margin:auto;
    text-align: center;
    border: solid 2px;
    border-radius: 5px;
    width: 800px;
    margin-top: 45px;
    padding-left: 200px;
    padding-right: 200px;
    float: none 
}

